<h1>Proposta de empréstimo</h1>
<p><%= @loan_proposal.amount %></p>
<%= @loan_proposal.conditions %>
<%= @loan_proposal.description %>
<%= @loan_proposal.accepted %>
<%= link_to 'Voltar para Home', user_profile_path %>

<% if current_user != 'farmer' %>
  <%= link_to 'Aceitar Proposta', accept_loan_path(@loan_proposal) %>
<% end %>
