<h1>New Address</h1>

<%= simple_form_for [@user,@address] do |f| %>
  <%= f.input :city %>
  <%= f.input :street %>
  <%= f.input :number %>
  <%= f.input :neighborhood %>
  <%= f.input :cep %>
  <%= f.submit %>
<% end %>
